.navbar-brand img{
    width: 120px;
    color: #ffffff;
}
.search_box{
    width: 50%;
    position: relative;
  }
  
  .search_box input[type="text"]{
    width: 100%;
    padding: 15px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
  }
  
 .search-place{
   background: rgba(0, 0, 0, 0);
   outline: none;
   

 }
.search-place:focus{
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none;
  /* border-style: none !important; */
  border-color: #E0A800;
}
.search-place:active{
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none;
  
}