.background-img{
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.479)),url("./img/Image/Rectangle\ 1.png");
  height: 100vh;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  
  
}